<aside class="sidebar">

  <!-- LOGO -->
  <div class="brand">
    <h2>EduRoom's</h2>
  </div>

  <!-- MENU -->
  <nav class="nav-menu">

    <!-- INÍCIO -->
    <button
      class="nav-item-simple"
      [class.active]="activeCategory === 'inicio'"
      (click)="selectCategory('inicio')"
    >
      <span class="icon">🪟</span>
      <span>Painel</span>
    </button>

    <!-- BUSCAR SALAS -->
    <button class="nav-item-simple">
      <span class="icon">🔍</span>
      <span>Buscar</span>
    </button>

    <!-- SALAS -->
    <div class="menu-section">

      <span class="menu-label">
        Salas
      </span>

      <!-- LABORATÓRIOS -->
      <button
        class="nav-item"
        [class.active]="activeCategory === 'laboratorios'"
        (click)="selectCategory('laboratorios')"
      >
        <span class="icon">🗂️</span>
        <span>Laboratórios</span>
      </button>

      <!-- SALAS ESPECIAIS -->
      <button
        class="nav-item"
        [class.active]="activeCategory === 'especiais'"
        (click)="selectCategory('especiais')"
      >
        <span class="icon">🗂️</span>
        <span>Salas</span>
      </button>

      <!-- AGENDAMENTOS -->
      <button
        class="nav-item"
        [class.active]="activeCategory === 'agendamentos'"
        (click)="selectCategory('agendamentos')"
      >
        <span class="icon">📅</span>
        <span>Agendamentos</span>
      </button>

    </div>

  </nav>

  <!-- RODAPÉ -->
  <div class="sidebar-footer">

    <button class="nav-item-simple">
      <span class="icon">⚙️</span>
      <span>Configurações</span>
    </button>

  </div>

</aside>